// Colors
/*
$color-active: #008b8b;
$color-background: #000;
$color-danger: #b10000;
*/
$color-dark: #343434;
$color-primary: #98BD2A;
$color-silver: #e6e6e6;
$color-white: #fff;

// Breakbpoints
$breakpoint-tablet: 760px;
$breakpoint-desktop: 1280px;

$navbar-size: 180px;
$padding: 10px;
$rounded: 4px;
$transition: 0.5s;
$spacer: $padding*3;
