@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@400;500;700&display=swap');
@import "./config.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 16px;
}

h1 {
  color: tomato;
}

.add-padding-below {
  margin-bottom: $padding;
}

.container {
  background-image: url('./assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  min-height: 100vh;
  margin: 0;
  padding: $padding;
  position: relative;
  width: 100%;
}

.detailBox {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 90%;

  h1 {
    color: $color-dark;
    font-weight: 400;
    line-height: 1.25em;
    margin-bottom: $padding;
    text-align: end;
  }

  h2 {
    color: $color-dark;
    font-weight: 400;
    text-align: end;
  }

  p {
    line-height: 1.1em;
    text-align: end;
  }

  table {
    background-color: rgba($color-white, 0.5);
    border-collapse: collapse;
    border: none;
    font-size: 1.1rem;
    margin: $padding 0 $padding*2 0;
    padding: 0;

    td {
      padding: calc($padding/2) $padding;
    }

    tr:nth-child(even) {
      background-color: $color-silver;
    }
  }
}

.form {
  &-bottom-bar {
    display: flex;
    justify-content: center;
    margin-top: $padding*3;
  }

  &-field {
    border: none;
    border-radius: $rounded;
    font-size: 1rem;
    padding: $padding $padding*0.75;
    width: 100%;
  }
}

.hide {
  display: none;
}

.page {
  &-booking {
    align-items: center;
    background-image: url('./assets/images/booking_bg.jpg') !important;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $padding * 3 $padding;

    p {
      color: $color-white;
      font-size: 1.25rem;
      padding-bottom: $padding * 2;
      max-width: 960px;
      width: 80%;
    }
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-end {
    text-align: end;
  }

  &-start {
    text-align: left;
  }
}

.whiteCortain {
  align-items: center;
  background: rgba($color-white, 0.5);
  background: linear-gradient(180deg, rgba($color-white, 0) 0%, rgba($color-white, 1) 20%);
  display: flex;
  justify-content: flex-end;
  padding: 20vh $padding 0 $padding;
  position: absolute;
  top: 100px;
  right: 0;
  width: 100%;
}

.division-span {
  color: $color-silver;
  width: 40%;
  margin: $spacer auto $spacer auto;
}

// #######################################################################################
// #################################### TABLET $ DESKTOP #################################
// #######################################################################################

@media (min-width: $breakpoint-tablet) {
  .container {
    background-position: center center;
    background-size: cover;
    margin: 0 0 0 $navbar-size;
    width: calc(100% - $navbar-size);
  }

  .detailBox {
    width: 75%;
  }

  .whiteCortain {
    background: linear-gradient(90deg, rgba($color-white, 0) 0%, rgba($color-white, 1) 100%);
    height: 100vh;
    padding-right: 3vw;
    top: 0;
    width: 60%;
  }
}

@media (min-width: $breakpoint-desktop) {
  .whiteCortain {
    width: 40%;
  }
}
